@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+NG+Modern:wght@100..400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}
/*DEBUT HEADER*/

/*DEBUT NAVBAR*/
header{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),url('Images/eurasian-pygmy-owl-6719122_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 90vh;
}

#navbar .nav-item .nav-link{
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  transition: 0.6s ease;
}
#navbar .nav-item .nav-link:hover{
  color: white;
  font-weight: 600;
  border-radius: 10px;
  background:#0e303e;
  transform: scale(1.01);
}
#navbar .navbar-brand span{
  color: #36c3da;
}
#navbar .navbar-brand{
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  transition:0.5s ease;
  font-size: 25px;
  cursor: pointer;
}
#navbar .navbar-brand:hover{
  color: #1aa7c0;
  font-weight: 600;
  letter-spacing: 2px;
}
.navbar-toggler span{
  color: #1aa7c0;
  font-size: 25px;
}
/*FIN NAVBAR*/

/*DEBUT HERO*/

.hero .row{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-weight: 600;
  text-shadow: 0px 0px 1px black;
}
.hero .row h1{
  font-size: 50px;
  font-weight: 800;
  padding-top: 10px;
}
.hero .row p{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}
.hero .row .btn a{
  text-decoration: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  background: #1b6c83;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  transition: 0.7s ease;
}
.hero .row .btn a:hover{
  background: #0e303e;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  color: white;
}
.hero .row .btn{
  margin-top: 10px;
}

/*FIN HERO*/

/*FIN HEADER*/



/*DEBUT SECTION A-PROPOS*/

.a-propos {
  background: #ced7d9;
}
.a-propos .main-text h5{
  text-align: center;
  font-size: 25px;
  color: black;
  font-weight: 700;
  text-shadow: 0px 0px 1px black;
  font-family: "Playwrite NG Modern", cursive;
}

.a-propos .main-text h5 span{
  color: #1aa7c0;

}
.a-propos .card{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
  transition: 0.7s ease;
  padding-bottom: 10px;
}
.a-propos .card img{
  width: 100%;
  background: #0e303e;
  border-radius: 10px 10px 0px 0px;
  
}
.a-propos .card:hover{
  transform: scale(1.05);

}
.a-propos .card .card-title{
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 23px;
  margin-top: 10px;
  color: #0e3b43;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}
.a-propos .card .card-text{
  text-align: center;
  font-weight: bold;
}
.a-propos .card .social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.a-propos .card .social-media a{
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background: #1b6c83;
  transition: 0.7s ease;
}
.a-propos .card .social-media a:hover{
  background: #0e303e;
  color: white;
}

/*FIN SECTION A-PROPOS*/

/*DEBUT SECTION CONTACT*/

.contact{
  background: #f9f9f9;
}
.contact .main-text h5{
  text-align: center;
  font-size: 26px;
  color: black;
  font-weight: 700;
  text-shadow: 0px 0px 1px black;
  font-family: "Playwrite NG Modern", cursive;
}

.contact .main-text h5 span{
  color: #1aa7c0;

}
.contact form{
  box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
  text-align: center;
  transition: 0.7s ease;
}
.contact form:hover{
  transform: scale(1.03);
  transform: rotate(1deg);
}
.contact form label{
  color: #1b6c83;
  font-weight: 600;
  font-size: 18px;
}
.contact form textarea{
  resize: none;
}
.contact form a{
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background: #1b6c83;
  transition: 0.7s ease;
  font-weight: 500;
  letter-spacing: 2px;
}
.contact form a:hover{
  background: #0e303e;
  color: white;
}
.contact form .btn{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
/*FIN SECTION CONTACT*/


/*FOOTER*/
footer{
  background: #ced7d9;
}
footer .social-media i{
  font-size: 34px;
  padding: 10px;
  color: #1b6c83;

}

footer .social-media {
  text-align: center;
}

footer .social-media i:hover{
  transform: scale(1.1);
  background: #0e303e;
  color: #fff;
}
footer .dedicace .blaz{
  text-decoration: none;
  color: #1b6c83;
  font-size: 25px;
}
footer .dedicace p,.copyright{
  text-align:center;
}
footer .en-tete{
  text-decoration: none;
  font-size: 20px;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .en-tete i{
  font-size: 30px;
  left: 0;
  right: -180px;
  position: absolute;
  color: #ffa500;
  
}





